body, html{
	height: 100%;
	margin: 0;
	font-size: 16px;
	font-family: "Lato", sans-serif;
	font-weight: 400;
	line-height: 1.8em;
	color: #666;	
}

header{
	position: relative;
	border: opx solid red;
	width: 100%;
	height: 64px;
}


.ptext{
	position: absolute;
	top: 50%;
	width: 100%;
	font-size: 27px;
	text-align: center;	
}

.top_logo, .bottom_logo{
	cursor: pointer;
}

.top_logo, .bottom_logo:active{
	transform: scale(0.8);
}

.pimg1, .pimg2, .pimg3{
	position: relative;
	opacity: 0.70;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	
	/* fixed = parallex
	   scroll = normal */
	background-attachment: fixed;
}

.pimg1{
	background-image: url('http://localhost:8080/3rd_team/common/images/cover/love.jpg');
	min-height: 100%;
	margin: 0px;	
}

.pimg2{
	background-image: url('http://localhost:8080/3rd_team/common/images/cover/cheers.jpg');
	min-height: 400px;	
	margin: 0px;	
}

.pimg3{
	background-image: url('http://localhost:8080/3rd_team/common/images/cover/dine.jpg');
	min-height: 400px;	
	margin: 0px;	
}

.section{
	text-align: center;
	padding: 50px 80px;
	margin: 0;
}

.section-light{
	background-color: #f4f4f4;
}

.section-dark{
	background-color: #282e34;
}

@media(max-width:568px){
	.pimg1, .pimg2, .pimg3{
		background-attachment: scroll;
	}
}


