@charset "UTF-8";


/*/////////////////////////////////////////
//              초기화
/////////////////////////////////////////*/
	*{ 
	    margin: 0; padding: 0; box-sizing: border-box; 
	}
	body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code,
		form, fieldset, legend, textarea, p, th, td, input, select, button {
		margin: 0px;	padding: 0px;
	}
	fieldset, img {	border: 0 none; }
	li{ list-style: none; }
	a{ text-decoration: none; color: #111; display: block; }
	a:hover{ cursor: pointer;}
	input, select, textarea, button {	vertical-align: middle; }
	body, th, td, input, select, textarea, button {
		font-size: 12px;
		font-family: AppleSDGothicNeo-Regular, 'Malgun Gothic', '맑은 고딕', dotum,
			'돋움', sans-serif;
		color: #222;
		letter-spacing: -1px
	}


	.inputBox {
		border: 1px solid #111;
		height:20px;     
	    padding-left: 5px;  
	}
	
	.btn {
		box-sizing: border-box;
		height:20px;
		text-align: 20px;
		background-color: #d0e0ef;
		border: none;
		/* border-color: #d0e0ef; */
		padding: 0 5px;
	}
	.btn:hover{
		cursor: pointer;
	}

/*/////////////////////////////////////////
//          WRAP
/////////////////////////////////////////*/
#wrap{height: 1000px;}

/*/////////////////////////////////////////
//          HEADER
/////////////////////////////////////////*/
#header{
    position: fixed; 
    top: 0px;
    background-color: #fff; 
    width: 100%; height:64px;
    z-index: 20000;
}
#header > * {z-index: 20000;}

#logo{ width:168px; height:57px; }

#nav{ 
	position: absolute;
	top:0px; right: 200px;;
}
	.nav_btn {
		float: left; height: 64px; line-height: 64px;
		margin-right: 20px;
		padding: 0 20px;
	}
	.nav_btn:hover{border-bottom: 4px solid #c83649; }

/*/////////////////////////////////////////
//          CONTAINER
/////////////////////////////////////////*/
#container{}

/*/////////////////////////////////////////
//      CONTAINER > FILTER
/////////////////////////////////////////*/
    #filter{
        width:100%; height: 40px; 
        position: fixed; top:64px;
        background-color: #e4caa5;
        box-shadow: 0 1px 5px #333;
        overflow:hidden;
        
        z-index: 20000;
    }
    #filters-list{margin-left: 80px; }
        .filters{
            float:left;
            height: 40px; line-height: 40px;
            border-right: 1px solid #555;
        }
        .filters:nth-child(1){width:141px; background-image: url(http://localhost:8080/3rd_team/common/images/filters_food.png)}
        .filters:nth-child(2){width:136px; background-image: url(http://localhost:8080/3rd_team/common/images/filters_cafe.png)}
        .filters:nth-child(3){width:132px; background-image: url(http://localhost:8080/3rd_team/common/images/filters_drink.png)}
        .filters:nth-child(4){width:182px; background-image: url(http://localhost:8080/3rd_team/common/images/filters_park.png)}
        .filters:nth-child(5){width:232px; background-image: url(http://localhost:8080/3rd_team/common/images/filters_course.png)}
        .filters:hover{cursor: pointer;}
   
/*/////////////////////////////////////////
//      CONTAINER > SEARCH
/////////////////////////////////////////*/
    #search-form, .search-btn{
        position: fixed;
        top: 12px;  
        height:39px; line-height: 35px;
        z-index: 20000;
    }
    #search-form{
        left: 250px; width:300px; 
        padding-left: 2px;
    }
    #search-form > .inputBox{
        border: 2px solid #c83649;
        width:230px; height:39px;     
        padding-left: 5px;   
    } 
    .search-btn{
        left: 480px; width:38px; height: 39px;
        background-image: url(http://localhost:8080/3rd_team/common/images/search_btn.png);
    }
    

/*/////////////////////////////////////////
//     CONTAINER > CONTENT
/////////////////////////////////////////*/
    #content{
        width: 100%; height: 100%;
    }
    
    /*/////////////////////////////////////////
	//    		CONTENT > MAP
	/////////////////////////////////////////*/
        #map-component{ 
        	padding-top: 104px;
            top:0px; left:0px;
            width: 100%; height: 100%; 
            background-color: #aaa;
            overflow: hidden;
            z-index: 1;
    }
    
    /*/////////////////////////////////////////
	//    		CONTENT > LIST
	/////////////////////////////////////////*/
        #list-component{
            position: fixed;
            min-width: 460px; height: 100%;
            top:0px; right:0;
            padding-top: 104px;
            box-shadow: -1px 3px 3px #333;
            
            z-index: 19999;
        }
        
    #list_close_icon{
        position:absolute;
        left:-20px; top: 104px;
            color: #c83649;
            z-index: 20000;
    }
    
    
   .list_header{
        width: 100%; background-color: #fff;
        padding: 0 5px;
    }
	    .list_header:first-child{  
	        height:40px; line-height: 400px;
	        border-bottom: 5px solid #f1e2cf; 
	    } 
	    .list_header:nth-child(2){ 
	        height:30px; line-height:30px; 
	        background-color: #e4caa5;
	    }
    
    .list_container{overflow-y: scroll;}
	    .list {
	        height: 127px;
	        padding: 15px;
	        background-color: #fff;
	        border-bottom: 1px solid #e7e7e7;
	    }
	    .list:hover{background-color: #f1e2cf;}
    
            
    
/*/////////////////////////////////////////
//    	      FOOTER
/////////////////////////////////////////*/
#footer{
    background-color: #ddd; 
    width: 100%; height:40px; 
    position: fixed; 
    bottom: 0px;}

