<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.sist.ssangbang.user.comment.search">

  	<select id="">
  		select store_num,name,lat,lnt,addr,phone,menu,image
  		from store
  		order by store_num
  	</select>
  
</mapper>
