<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>DateCuration</title>
<link href="css/common.css" type="text/css" rel="stylesheet" />
<link href="css/common_admin.css" type="text/css" rel="stylesheet" />
<link href="css/index_admin.css" type="text/css" rel="stylesheet" />
    
<style type="text/css">
</style>
    
<script type="text/javascript" src="js/jquery-1.12.0.js"></script>
<script type="text/javascript" src="js/jquery-migrate-1.2.1.js"></script> 
    
<script type="text/javascript">
$(document).ready(function(){
});//ready
</script>

</head>
<body>
<div id="wrap">
<div id="header">
    <div id="logo"><a href="#void" title="쌍방"></a></div>
    
    
    <table id="login_tab">
        <tr>
            <th>아이디</th>
            <td colspan="2"><input class="inputBox" type="text"></td>
            <th>비밀번호</th>
            <td colspan="2"><input class="inputBox" type="text"></td>
            <td colspan="3">
                <a href="#void">아이디찾기</a> 
                | <a href="#void">비밀번호찾기</a>
            </td>
        </tr>
        </table>
        
        <input type="button" class="btn" value="로그인" />
    
    
    <span id="login"><a href="#void">관리자페이지</a></span>
</div><!-- div#header -->
<!--<div id="sub_header"></div>--><!-- div#sub_header -->
<div id="container">

<div id="content_wrap">
    
    
    
    
    <!------------------ 
        CONTENT IMPORT 
    ---------------------> 
    <div id="content">
        
        
        
    </div><!-- div#content -->
    
    
    
    
</div><!-- div#content_wrap -->
</div><!-- div#container -->
<div id="footer">
    <div id="foot_container">
        <p id="foot_logo"></p>
        <p class="foot_info">
            <b>(주)쌍방</b><br/>
            대표 : 양재호 강솔비 박승리 이재득<br/>
            주소 : 서울시 강남구 쌍용교육센터 8층<br/><br/>
        </p>
        <p class="foot_info">
            사업자 번호 : 220-88-59156<br/>
            전화 : 1111-1111  팩스 : 02-111-1111<br/>
            통신판매업신고번호 : 제2017-서울 강남-00000호<br/><br/>
        </p>
        <span id="rights">
            Ssangbang, Inc. All rights reserved.
        </span>
    </div><!-- div#foot_container-->
</div><!-- div#footer -->
    
</div><!-- div#wrap -->
</body>
</html>
